<mat-toolbar color="primary">
  <a routerLink= "/"> Find Products </a>


  <ul *ngIf="userIsAuthenticated" >
    <li >
      <span><a routerLink="/index">  Your Products </a></span>
    </li>
    <li>
      <a routerLink="/create"> Sell Products</a>
    </li>
    <li>
      <button mat-button (click)="onLogout()">Logout</button>
    </li>
  </ul>


  <ul *ngIf="!userIsAuthenticated">
    <li>
      <a routerLink="/login"> Login</a>
    </li>
    <li>
      <a routerLink="/signup"> SignUp</a>
    </li>
  </ul>



</mat-toolbar>
