@import "../../../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";


a {
  text-decoration: none;
  color: white;
}
ul{
  list-style: none;
  display: flex;

}
li {
  padding: 1rem;
  margin: 1rem;
}
