<mat-accordion *ngIf="posts.length>0">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      {{post.title}}
    </mat-expansion-panel-header>
    <p> {{post.content}}</p>
    <mat-expansion-panel *ngFor="let comment of post.comments">
      <mat-expansion-panel-header>
        {{post.title}}
      </mat-expansion-panel-header>
      <p> {{post.price}}</p>
      <p> {{post.content}}</p>
    </mat-expansion-panel>
    <mat-action-row>
      <button mat-button color="warn" (click)="onComment(post.id)"> Comment </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="posts.length<=0"> No Products in Market. Sorry!! </p>
