@import "../../../../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

mat-card{
  width: 80%;
  margin: auto;
}
mat-form-field,
textarea{
  width: 100%;
}
mat-spinner{
 margin: auto;
}
input[type="file"]{
  visibility: hidden;;
}
.image-preview{
  height:20rem;
  margin: 2rem ;
}

.image-box {
  height: 15rem;
  margin: 1.5rem;
}
.image-box img{
  display: inline-table;
  height: 5rem;
}
