
<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)= "onSavePost()" [formGroup]="form" *ngIf="!isLoading">
    <mat-form-field>
      <input
        type="text"
        name="title"
        matInput
        formControlName="title"
        placeholder="Name of the product">
        <mat-error *ngIf="form.get('title').invalid">Please enter valid title</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        type="number"
        name="price"
        matInput
        formControlName="price"
        placeholder="Price of the product"
       >
        <mat-error *ngIf="form.get('price').invalid">Please enter positive price</mat-error>
    </mat-form-field>
    <mat-form-field >
      <textarea
        matInput
        rows="6"
        name="content"
        formControlName="content"
        placeholder="Details regarding product"
       >
      </textarea>
      <mat-error *ngIf="form.get('content').invalid">Please enter valid content</mat-error>
    </mat-form-field>
    <!-- <div>
      <button mat-stroked-button type="button" (click)="filePicker.click()">Pick Images</button>
      <input type="file" #filePicker>
    </div> -->
    <button mat-stroked-button color="primary" type="submit"> Save Product</button>
  </form>
</mat-card>
